<p id="centered-item">
    Enter SSN:
</p>
<br>
<div id="centered-item">
  {{input type="text" valueBinding="ssn"}}
    <button {{action "onSearchClicked"}}>SEARCH</button>
    <br/>
    <h2>Result: </h2>
    <h3 class="client-name">{{this.person.name}}</h3>
    <button {{action "onAddClicked"}}>ADD AUTHOR</button>
    <hr/>
</div>
