body, html
{
  margin: 0;
  font-family: verdana, serif;
  font-size: 12px;
  background-color: #0F0F0F;
}

a
{
  outline: none;
  border: 0;
  color: #606060 !important;
  text-decoration: none !important;
}

a:-webkit-any-link
{
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
}

a:hover
{
  color: #b36f1d !important;
  text-shadow: 0 0 1px #b36f1d;
}

p, h1, h2, h3
{
  color: #c1b575;
}

span
{
  color: #c1b575;
}

input
{
  border: none;
  background-color: rgb(250, 255, 189);
  width: 175px;
  height: 29px;
  color: #000000;
  font-size: 14px;
  padding-left: 5px;
  padding-top: 4px;
  outline: none;
  text-align: center;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
}

button
{
  background: #1c1c1c;
  background: -moz-linear-gradient(top, #1c1c1c 0%, #1a1a1a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c1c1c), color-stop(100%,#1a1a1a));
  background: -webkit-linear-gradient(top, #1c1c1c 0%,#1a1a1a 100%);
  background: -o-linear-gradient(top, #1c1c1c 0%,#1a1a1a 100%);
  background: -ms-linear-gradient(top, #1c1c1c 0%,#1a1a1a 100%);
  background: linear-gradient(to bottom, #1c1c1c 0%,#1a1a1a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#1a1a1a',GradientType=0 );
  text-shadow: 2px 2px 2px #202020;
  color: #999;
  font-size: 14px;
  width: 175px;
  height: 42px;
  border-radius: 4px;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
}

button:hover
{
  background: linear-gradient(to bottom, #262626 0%,#1a1a1a 100%);
}

table
{
  width: auto;
  margin: auto;
  box-shadow: 0 0 15px black;
}

table, th, td
{
  border: 1px solid #31170a;
  border-collapse: collapse;
}

th, td
{
  padding: 5px 1em 5px;
  text-align: right;
}

tr:nth-child(even)
{
  background-color: #0e0e0e;
}

tr:nth-child(odd)
{
  background-color:#0f0f0f;
}

th
{
  background-color: #31170a;
  color: #778536;
}

tr
{
  color: #c1b575;
}

ul
{
  padding: 0;
  margin: 0;
}

ul li
{
  margin: auto 1em auto 1em;
  display: inline-block;
  list-style: none;
}

ul li a
{
  display: block;
  line-height: 2em;
  overflow: auto;
  color: #996019 !important;
  text-shadow: 2px 2px #000000;
  font-size: 15px;
}

input[type=file]
{
  visibility: hidden;
  position: absolute;
  display: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

#title, #books-title
{
  width: 100%;
  margin: 1em auto 1em auto;
  text-align: center;
}

#main-menu
{
  text-align: center;
  z-index: 100;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
  background: #2c1405;
  background: -webkit-linear-gradient(left, #1f0e03, #2c1405, #1f0e03);
  background: -o-linear-gradient(left, #1f0e03, #2c1405, #1f0e03);
  background: -moz-linear-gradient(left, #1f0e03, #2c1405, #1f0e03);
  background: linear-gradient(to right, #1f0e03, #2c1405, #1f0e03);
  box-shadow: 0 0 11px 1px #090909;
}

#main-menu ul li:hover
{
  background: #0F0F0F;
}

#finish-btn
{
  left: 45%;
  position: relative;
  top: 1em;
}

#total, #add-book-title, #books-title, .book-details, .client-name, .past-clients
{
  color: #7e8d09;
}

#centered-item, #total, #add-book-title
{
  text-align: center;
}

#addbook
{
  text-align: center;
  width: 300px;
  margin: auto;
}

.client-list *
{
  display: block;
}
