{{outlet}}

<h1 id="centered-item" class="past-clients">Authors</h1>

<ul id="centered-item" class="client-list">
  {{#each model as |author|}}
      <li>{{#link-to 'authorbooks' author.id}}{{author.name}} with: {{author.bookCount}} book(s){{/link-to}}</li>
  {{/each}}
</ul>

<div id="centered-item">
  {{#link-to 'authors.new'}}ADD AUTHOR{{/link-to}}
</div>
