{{outlet}}
<h1 id="centered-item" class="client-name">
    hi!
</h1>

<table cellspacing="10">
    <tr>
        <th>ID</th>
        <th>ISBN</th>
        <th>Title</th>
        <th>Year</th>
    </tr>
  {{#each model.books as |book|}}
      <tr>
          <td>{{book.id}}</td>
          <td>{{book.isbn}}</td>
          <td>{{book.title}}</td>
          <td>{{book.year}}</td>
      </tr>
  {{/each}}
</table>